		<div id="footer">
			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="left-footer">
								<div class="logo-footer">
									<a href="#"><img src="/rest/site/images/home12/logo-footer.png" alt="" /></a>
								</div>
								<div class="contact-footer">
									<h2 class="title-footer">Contato</h2>
									<p><i class="fa fa-home"></i> Brasil, Ceara - Fortaleza</p>
									<p><i class="fa fa-tablet"></i> (XXX)XXXXX-XXXX</p>
									<p><i class="fa fa-envelope"></i> support@.com</p>
								</div>
							</div>
						</div>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<div class="right-footer">
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-12">
										<h2 class="title-footer">Redes Sociais</h2>
										<div class="social-footer">
											<ul>
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												<li><a href="#"><i class="fa fa-youtube"></i></a></li>
												<li><a href="#"><i class="fa fa-share-alt"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<h2 class="title-footer">Newsletter</h2>
										<div class="news-letter-form">
											<form>
												<input type="text" value="Insira seu email..." onfocus="if (this.value==this.defaultValue) this.value = ''" onblur="if (this.value=='') this.value = this.defaultValue" />
												<input type="submit" value="Increva-se" />
											</form>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 colsm-4 col-xs-12">
										<div class="box-footer-menu">
											<h2 class="title-footer">Minha Conta</h2>
											<ul class="menu-footer-default">
												<li><a href="#">Meus Pedidos</a></li>
												<li><a href="#">Minhas notas fiscais</a></li>
												<li><a href="#">Meus endereços</a></li>
												<li><a href="#">Minhas informações pessoais</a></li>
											</ul>
										</div>
									</div>
									<div class="col-md-4 colsm-4 col-xs-12">
										<div class="box-footer-menu">
											<h2 class="title-footer">INFORMAÇÃO</h2>
											<ul class="menu-footer-default">
												<li><a href="#">Sobre Nós</a></li>
												<li><a href="#">Termos de uso</a></li>
												<li><a href="#">Club Info and FAQ's</a></li>
												<li><a href="#">Política de privacidade</a></li>
												<li><a href="#">Contato</a></li>
											</ul>
										</div>
									</div>
									<div class="col-md-4 colsm-4 col-xs-12">
										<div class="box-footer-menu">
											<h2 class="title-footer">Serviços</h2>
											<ul class="menu-footer-default">
												<li><a href="#">Pergunte no fórum</a></li>
												<li><a href="#">Help Desk</a></li>
												<li><a href="#">Métodos de Pagamento</a></li>
												<li><a href="#">Trabalho personalizado</a></li>
												<li><a href="#">Promoções</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<p class="info-copyright">Todos os direitos autorais. Programadores do Sertão © 2017 </p>
							<p class="info-copyright">Designed by PS</p>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="payment-method">
								<ul class="list-inline text-right">
									<li><a href="#"><img src="/rest/site/images/home12/payment1.png" alt="" /></a></li>
									<li><a href="#"><img src="/rest/site/images/home12/payment2.png" alt="" /></a></li>
									<li><a href="#"><img src="/rest/site/images/home12/payment3.png" alt="" /></a></li>
									<li><a href="#"><img src="/rest/site/images/home12/payment4.png" alt="" /></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer -->
	</div>
</body>
	
	<script  src="/rest/site/js/jquery-1.10.2.min.js"></script>
	<script  src="/rest/site/js/bootstrap.min.js"></script>
	<script  src="/rest/site/js/jquery.fancybox.js"></script>
	<script  src="/rest/site/js/jquery-ui.js"></script>
	<script  src="/rest/site/js/owl.carousel.js"></script>
	<script  src="/rest/site/js/jquery.mCustomScrollbar.js"></script>
	<script  src="/rest/site/js/parallax.js"></script>
	<script  src="/rest/site/js/jquery.hoverdir.js"></script>
	<script  src="/rest/site/js/modernizr.custom.js"></script>
	<script  src="/rest/site/js/jquery.jcarousellite.js"></script>
	<script src="/rest/site/js/theme.js"></script>
</html>