<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Loja</title>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,100,700' rel='stylesheet' type='text/css'/>
	<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet"  href="/rest/site/css/font-awesome.min.css"/>
	<link rel="stylesheet"  href="/rest/site/css/bootstrap.css"/>
	<link rel="stylesheet"  href="/rest/site/css/bootstrap-theme.css"/>
	<link rel="stylesheet"  href="/rest/site/css/jquery.fancybox.css"/>
	<link rel="stylesheet"  href="/rest/site/css/jquery-ui.css"/>
	<link rel="stylesheet"  href="/rest/site/css/owl.carousel.css"/>
	<link rel="stylesheet"  href="/rest/site/css/owl.transitions.css"/>
	<link rel="stylesheet"  href="/rest/site/css/owl.theme.css"/>
	<link rel="stylesheet"  href="/rest/site/css/jquery.mCustomScrollbar.css"/>
	<link rel="stylesheet"  href="/rest/site/css/theme.css" media="all"/>
	<link rel="icon" href="/rest/site/icon.jpg">
</head>
<body>
	<div class="wrap">
		<div id="header">
			<div class="top-header">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="top-support">
								<ul class="list-inline">
									<li><a href="#" class="top-support-link">Ajuda </a></li>
									<li><a href="#" class="top-support-link">Serviços</a></li>
									<li><a href="#" class="top-support-link">BRL</a></li>
									<li><a href="#" class="top-support-link"><img src="/rest/site/images/home12/icon-brazil.png" alt="" /></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="top-info">
								<ul class="list-inline text-right">
									<li><a href="login" class="top-info-link"><i class="fa fa-user"></i> Minha conta</a></li>
									<li><a href="#" class="top-info-link"><i class="fa fa-heart"></i> lista de desejos</a></li>
									<li><a href="#" class="top-info-link"><i class="fa fa-refresh"></i> Compare</a></li>
									<li><a href="#" class="top-info-link"><i class="fa fa-sign-out"></i> Sair</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="main-header">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="logo">
								<a href="/"><img src="/rest/site/images/home12/logo.png" alt="" /></a>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="phone-info">
								<label>Ligue-Nós agora!!</label>
								<h2 class="phone-number">(XXX)XXXXX- XXXX</h2>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="top-cart">
								<h2>Carrinho</h2>
								<p>0 Item(s) - R$0,00</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="container">
					<div class="row">
						<div class="col-md-9 col-sm-9 col-xs-12">
							<div class="main-nav">
								<ul>
									<li><a href="/">Home </a></li>
									{include="categories-menu"}
									<li><a href="#">Blog</a></li>
									<li><a href="#">Contato</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-12">
							<div class="search-form search-form2">
								<input type="text" value="Digite sua palavra-chave ..." onfocus="if (this.value==this.defaultValue) this.value = ''" onblur="if (this.value=='') this.value = this.defaultValue" />
								<input type="submit" value="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Header -->